@CHARSET "UTF-8";

.divTop {
	padding-bottom: 20px;
}

iframe {
	position: absolute;
	float: left;
	clear: both;
	width: 100%;
	height: 350px;
	z-index: 0;
}

body {
	background: #DCDCDC none repeat scroll 0 0;
	margin: 0px;
	height: 900px;
	font-family: sans-serif;
	overflow-x: hidden;
	height: auto;
	width: auto;
	overflow-y: hidden;
}

.chat_box {
	position: fixed;
	right: 20px;
	bottom: 0px;
	width: 250px;
	overflow-x: hidden;
	border-color: #610B0B;
	overflow-y: auto;
}

.chat_body {
	background: white;
	height: 400px;
	padding: 5px 0px;
	overflow-x: hidden;
	border-color: #610B0B;
	overflow-y: auto;
}

.chat_head, .msg_head {
	background: #f39c12;
	color: white;
	padding: 15px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px 5px 0px 0px;
}

.msg_box {
	position: fixed;
	bottom: -5px;
	width: 300px;
	background: #CEE3F6;
	border-radius: 5px 5px 0px 0px;
	overflow-x: hidden;
	border-color: #610B0B;
	overflow-y: auto;
}

.msg_head {
	background: #610B0B;
}

.msg_body {
	background: #E6E6E6;
	height: 300px;
	overflow-x: hidden;
	font-size: 12px;
	padding: 15px;
	border-color: #610B0B;
	overflow-y: auto;
}

.msg_input {
	width: 100%;
	border: 1px solid white;
	border-top: 1px solid #DDDDDD;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box;
	overflow-x: hidden;
	background-color: #FAFAFA;
}

.close {
	float: right;
	cursor: pointer;
}

.minimize {
	float: right;
	cursor: pointer;
	padding-right: 5px;
}

.msg_a {
	position: relative;
	background: white;
	padding: 10px;
	min-height: 10px;
	margin-bottom: 5px;
	margin-right: 10px;
	border-radius: 5px;
}

.msg_a:before {
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
	border: 10px solid;
	border-color: transparent white transparent transparent;
	left: -20px;
	top: 7px;
}

.msg_b {
	background: #87CEEB;
	padding: 10px;
	min-height: 15px;
	margin-bottom: 5px;
	position: relative;
	margin-left: 10px;
	border-radius: 5px;
	word-wrap: break-word;
	color: #2E2E2E;
}

.msg_b:after {
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
	border: 10px solid;
	border-color: transparent transparent transparent #87CEEB;
	right: -20px;
	top: 7px;
}

.button {
	background-color: white;
	border-color: blue;
	border-style: solid;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 20px;
	width: 40%;
	margin: 5px;
}

hr.line {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.speech-bubble {
	position: fixed;
	background: white;
	border-radius: .4em;
	z-index: 999;
	bottom: 480px;
	right: 70px;
	width: auto;
	float: right;
	padding: 10px;
	display: none;
	border: solid;
	border-color: #00aabb;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 93%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}